html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  background: #EEEDDE;
  margin: 0;
}

hr {
  border: none;
  border-top: 3.5px dotted #203239;;
  color: #fff;
  height: 1px;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 35px;
}

.navbar {
  background-color: #141E27;
  overflow: hidden;
  white-space: nowrap;
  height: 85px;
}

.navbar header {
  color: white;
  font-family: 'Ultra', serif;
}

.navbar threeBts {
  align-content: right;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Kumbh Sans', sans-serif;
}

.threeBts {
  float: right;
}

.threeBts a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #E0DDAA;
  color: #141E27;
}

.bgImgHeader {
  position: relative;
  text-align: center;
}

.firstHeader #actualHead {
  font-family: 'Playfair Display', serif;
  margin-bottom: -5px;
  font-size: 50px;
  font-weight: 900;
  color: #141E27;
}

.firstHeader #subHead {
  margin-bottom: 60px;
}

.header {
  color: #141E27;
}

.tag {
  font-family: 'Ultra', serif;
  font-size: 16px;
  color: #203239;
}

.tag a {
  text-decoration: none;
  color: #203239;
}

.tags a:hover {
  background-color: grey;
  color: grey;
}

.header header{
  font-family: 'Yeseva One', serif;
  font-size: 40px;
}

.blocke {
  padding: 5px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 20px;
  color: #141E27;
}

.body {
  width: 75%;
  margin: 0 auto;
}

.body img {
  max-width: 100%;
  margin-top: 20px;
}

.author {
  background-color: #E0DDAA;
  border-radius: 40px;
  padding: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.author img {
  width: 100px;
  border-radius: 40px;
  margin-top: 0px;
}

.author #authorName {
  font-size: 13.5px;
  margin-top: 0;
}

.author #authorDesc {
/*  margin-left: 130px;*/
}

.leftCol {
  float: left;
/*  width: 75%;*/
}

.rightCol {
  padding-left: 135px;
}

@media screen and (max-width: 800px) {
  .leftCol, .rightCol {
    width: 100%;
    padding: 0;
  }
}

.footer {
  background-color: #141E27;
  color: white;
  width: 100%;
  padding: 20px;
  margin-top: 40px; 
  font-family: 'Kumbh Sans', serif;
}

.firstFoot {
  width: 21%;
  float: left; 
  margin-left: 55px;
}

.secondFoot {
  width: 20%;
  float: left;
  margin-top: 15px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.thirdFoot {
  width: 10%;
  clear: both;
  margin-top: 15px;
  display: inline-flex;
  flex-wrap: wrap;
}

.thirdFoot a {
  text-decoration: none;
  color: white;
}

.fourthFoot {
  width: 18%;
  float: right;
  margin-right: 124px;
  margin-top: 22px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
}

/*jyjn*/