html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  background: #EEEDDE;
  margin: 0;
}

hr {
  border: none;
  border-top: 3.5px dotted #203239;;
  color: #fff;
  height: 1px;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 35px;
}

.navbar {
  background-color: #141E27;
  overflow: hidden;
  white-space: nowrap;
  height: 77px;
}

.navbar header {
  color: white;
  font-family: 'Ultra', serif;
}

.navbar threeBts {
  align-content: right;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Kumbh Sans', sans-serif;
}

.threeBts {
  float: right;
}

.threeBts a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #E0DDAA;
  color: #141E27;
}

.bgImgHeader {
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
  text-align: center;
  color: white;
}

.firstHeader {
  color: #203239;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.firstHeader #actualHead {
  font-family: 'Playfair Display', serif;
  margin-bottom: -5px;
  font-size: 50px;
  font-weight: 900;
  max-width: ;
}

.firstHeader #subHead {
  margin-bottom: 10px;
}

.header {
  color: #203239;
}

.tag {
  font-family: 'Ultra', serif;
  font-size: 16px;
  color: #203239;
}

.header p{

}

.header header{
  font-family: 'Yeseva One', serif;
  font-size: 40px;
}

.blocke {
  padding: 5px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 20px;
  color: #203239;
}

.body {
  width: 75%;
  margin: 0 auto;
}

.body img {
  max-width: 100%;
  margin-top: 20px;
}

.author {
  background-color: #E0DDAA;
  padding: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.author img {
  width: 100px;
  border-radius: 20%;
  margin-top: 0px;
}

.author #authorName {
  font-size: 13.5px;
  margin-top: 0;
}

.author #authorDesc {
  margin-left: 130px;
}

.footer {
  background-color: #141E27;
  color: white;
  width: 100%;
  text-align: ;
  padding: 20px;
  margin-top: 40px; 
}
